target/
*.class
*.jar
!.mvn/wrapper/maven-wrapper.jar
.mvn/
!/.mvn/wrapper/
*.log
logs/
data/
spool/
.idea/
*.iml
.vscode/
.classpath
.project
.settings/
.DS_Store
application-local.yml
application-local.properties
